* {
    margin: 0;
    box-sizing: border-box;
}

.container {
    min-height: 100vh;
    padding: 100px;
    background-color: #555;
}

.todolist h2 {
    color: blue;
    margin-bottom: 20px;
}

.todolist {
    width: 500px;
    background: #fff;
    margin: auto;
    padding: 40px;

}

ul li {
    list-style: none;
    font-size: 20px;
    padding: 10px 10px 10px 50px;
    cursor: pointer;
    position: relative;
}

ul li.checked {
    text-decoration: line-through;
}

ul li span {
    position: absolute;
    right: 0;

}